body{background-color: rgb(255, 145, 0);}

h1{
    text-align: center;
    font-size: 36pt;
    font-family: fantasy;
    color: rgb(77, 23, 2);
}

p{
    font-size: 12pt;
    text-align: center;
}

div{height: 100%; 
    width: 100%; 
    background-color: rgb(119, 0, 255);
    align-self: center;
}

h2{
    text-align: center;
    font-size: 24pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(224, 28, 2);
}

h3{
    text-align: center;
    font-size: 12pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
    width: 600px;
    height: 600px;
    background-color: rgb(8, 8, 182);
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: right;
    align-items: center;
    margin: 30px;
}

.one{
    grid-column-start: 1;
    grid-column-end: 2;

}

.two{
    grid-column-start: 1;
    grid-column-end: 2;
}

.three{
    grid-column-start: 1;
    grid-column-end: 2;
}

.four{
    grid-column-start: 1;
    grid-column-end: 2;
}

.five{
    grid-column-start: 1;
    grid-column-end: 2;
}

.six{
    grid-column-start: 1;
    grid-column-end: 2;
}

@media only screen and (max-width: 100%) (max-height: 100%) {
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: right;
        align-items: center;
        margin: 30px;
    }
    
    .one{
        grid-column-start: 1;
        grid-column-end: 2;
    }
    
    .two{
        grid-column-start: 1;
        grid-column-end: 2;
    }
    
    .three{
        grid-column-start: 1;
        grid-column-end: 2;
    }
    
    .four{
        grid-column-start: 1;
        grid-column-end: 2;
    }
    
    .five{
        grid-column-start: 1;
        grid-column-end: 2;
    }
    
    .six{
        grid-column-start: 1;
        grid-column-end: 2;
    }
    
}