/* This is the code which controls the media display for computer screens. */
@media (max-width: 800px){
    body {
        background-color: rgb(145, 168, 209);
         }
    p {
        line-height:1;

    }
}
/* This is the code which controls the media display for phone screens. */
@media (max-width: 600px){
    body {
        background-color: rgb(145, 168, 209);
         }
    p {
        line-height:1.5;
        
    }
}
/* This is the subheader code. */
h1 {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular';
}
h3{
    font-size:26px;
    font-style:italic;
}
/* This controls the body text code. */
p {
    font-family:'Lucida Sans', 'Lucida Sans Regular';
    font-size:10px;

}
/* This is the div placeholder code. */
div {
   /* width: 250px;
    height:250px;
    */background-color: rgb(72, 123, 219)
}
/* This is the animation code. */
img {
    width:100%;
    height:100%;
    margin-left:auto;
}
/*The below menu code is a placeholder for future Javascript buttons.*/
/*menu
{
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin: 5px;
}*/

/* The below code is a placeholder for the Header and Subheader in case the container code fails.*/
Header
{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    display:grid;
    justify-items: center;
    align-items: center;
    margin: 20px;
}

/* This is the grid div. */
.container {

    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items:center;
    margin: 0px;
    border-left:solid blueviolet 10px;
    border-right:solid blueviolet 10px;
    border-bottom: solid blueviolet 10px;
}
/*Header at the Top of the Website*/
.Header
{
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items:center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    display:grid;
    justify-items: center;
    align-items: center;
    margin: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular';
    border-top: solid blueviolet 10px;
    border-left: solid blueviolet 10px;
    border-right: solid blueviolet 10px;
}
/*Top of the Website Subheader Text*/
.Subheader
{
    font-style: italic;
    margin: 10px;
}
/*Message Icon Text*/
.zero {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-items: center;
}
/* Message Icon Image */
.one {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}
/* Play Icon Text */
.two {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}
/* Play Icon Image */
.dos {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}
/*Present Icon Text */
.three {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
}
/*Present Icon Image*/
.tres {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}
/* This is a controller for the paragraph text margin. */
.text
{
    text-align: left;
    margin: 50px;
}
/*This controls the paragraph margins for the body text.*/
.paragraphmargin
{
    text-align:left;
    margin-right:200px;
    line-height:1.5em;
}
/*This controls the images' margins.*/
.centerimage
{
    display:block;
    margin-left:0px;
    margin-right:0px;
}
/*The below lines of code are a placeholder in case I need it for margin changes.*/
.leftimage
{
    text-align:left;
}
.centertext
{
    text-align:center;
    margin: 10px;
}